@import url("reset.css");
@import url("font.css");

body{
  background-color: crimson;
}
nav {
  height: 54px;
}
/*CSS ACCUEIL*/
.accueille h2{
  font-size: 35px;
  font-family: Trebuchet;
  text-align: center;
}
.accueille p{
  text-align: left;
  font-size: 25px;
  margin: 10px 100px 10px 100px;
  border: grey 4px solid;
  background-color:white;
  color: black;
  opacity: 75%;
  width: 700px;
  font-family: Trebuchet;
  border-radius: 1em;
  margin-left: auto;
  margin-right: auto;
}
.accueille p:hover{
background-color: #A1D5FF;
  }
.orange p{
  text-align: center;;
  font-size: 25px;
  margin: 100px 100px 100px 100px;
  border: grey 4px solid;
  background-color:white;
  opacity: 75%;
  width: 700px;
  font-family: trebuchet;
  border-radius: 1em;
  margin-left: auto;
  margin-right: auto;
}
.orange p:hover{
  background-color: #A1D5FF; 
  }


.orange a{
  color: pink;
}
.accueille a{
  color: pink;
}
body.photoaccueil{
  background-image: url("https://cdn.pixabay.com/photo/2015/03/26/09/40/keyboard-690066_960_720.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
/*FOOTER CSS*/
Footer{
  text-align: center;
  color: pink;
  font-family: trebuchet;
  font-size: 35px;
  margin-top: 200px;
}
/*CSS HEADER*/
header nav ul a {
  float: left;
  width: 19.80%;
  text-align: center;
  text-decoration: none;
  color: #FEE6D0;
  padding: 15px 0;
  border-left: #fff 2px solid;
  background-color:#211819;
}

header nav ul li a:hover {
  border-bottom: #FFA0C4 2px solid;
  color: #4D87A5;
}

.titresite {
  padding: 80px 0;
  text-align: center;
  font-size: 2.2em;
  background-color: #E8C0B3;
  color: #211818;
}

h2{
  text-align: center;
  font-size: 1em;
  margin-top: 25px;
  margin-bottom: 50px;
  color:#FEE6D0;
}
section.orange{
  font-size: 25px;
}
section div.rightexp{
  font-size: 80px;
}
/*CSS CV*/
div#cv h1{
  font-size: 30px;
  margin-top: 20px;
  text-decoration: underline;
}
div#cv ul li{
  font-size: 25px;
  margin: 25px 0 25px 0;
}
div#formation h1{
  font-size: 30px;
  margin-top: 20px;
  text-decoration: underline;
}
div#formation ul li{
  font-size: 25px;
  margin: 25px 0 25px 0;
}
div#hobbies h1{
font-size: 30px;
margin-top: 20px;
margin-bottom: 25px;
text-decoration: underline;
}
div#hobbies p{
  font-size: 25px;
  text-align: center;
  margin-bottom: 25px;
}
/*CSS Mentions*/
#info{
font-size: 15px;
}

/*CSS FrmContact*/
fieldset {
border: black 5px solid;
width: 400px;
text-align: center;
margin: 50px 0 50px 0;
margin-left: 725px;
border-radius: 2em;

}
textarea{
  resize: none;
}

.titresite{
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
}
.titresite .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0;
}
